header {
    margin-top: 0px;
}

body {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

#info1Child {
    display:grid;
}

#info1Child>* {
    justify-self: center;
}

#vid {
    display:grid;
    grid-template-columns: auto 300px;
    margin-top:10px;
}

#vidInfo {
    margin-top:7px;
    margin-left:10px;
}

@media screen and (max-width:967px) {
    #vid {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    #vidInfo {
        margin-top:10px;
        margin-left:0px;
    }
}

footer {
    width:100%;
    
}

#info1 {
    width:100%;
}

#info2 {
    width:100%;
}

#merchParent {
    width:100%;
    display:grid;
    grid-template-rows:auto auto;
}
#merchParent>* {
    justify-self:center;
}

#merch {
    display:grid;
    grid-template-rows:auto auto;
    grid-template-columns: auto auto auto;
    grid-column-gap: 7px;
    grid-row-gap: 3px;
}

@media screen and (max-width:767px) {
    #merch {
        grid-template-columns:auto auto;
        grid-template-rows: auto auto auto;
    
    }
}

#style2 {
    background-color: #7eca94;
}

#info1Child {
    padding:20px;
}

#info2 {
    display:grid;
}

#info2Child {
    padding:20px;
    justify-self: center;
}

#merchChild {
    padding:20px;
}

#socialMedia {
    padding:20px;
}

#contact {
    display:grid;
    grid-template-columns: 200px auto;
    padding:20px;
}