#gameCanvas {
    height:750px;
    width:1000px;
    background-color:black;
    margin-top:43px;
}

canvas {
    height:100%;
    width:100%;
    
}

#mapCanvas {
    z-index: 0;
}

#mapColorCanvas {
    z-index: 1;
}

#spriteCanvas {
    z-index: 2;
}

#uiCanvas {
    z-index: 3;
}
