#gameContainer {
    position: relative;
    height:750px;
    width:1000px;
    background-color:black;
    margin-top:43px;
}

canvas {
    height:100%;
    width:100%;
    
}

#mapCanvas {
    position: absolute;
    z-index: 0;
}

#mapColorCanvas {
    position: absolute;
    z-index: 1;
}

#persSpriteCanvas {
    position: absolute;
    z-index: 2;
}

#spriteCanvas {
    position: absolute;
    z-index: 3;
}

#overlayCanvas1 {
    position: absolute;
    z-index: 4;
}

#uiCanvas {
    position: absolute;
    z-index: 5;
}
