#container {
    margin-top:30px;
    

}

#comments {
    overflow-y:scroll;
    height:80%;
}

#input {
    margin-top:10px;
    width:80%;
    margin-right:auto;
    margin-left:auto;
}

.commentName {
    display:block;
}

#commentin {
    height:50px;
    flex-grow: 5;
}

#commentflex {
    margin-top:10px;
    display:flex;
    justify-content: center;
    width:100%;
}

.timeStamp {
    font-size: .7em;
}