h1 {
    display:block;
}

p {
    display:block;
}

button {
    display:block
}

table, td {
    border: 1px solid gray;
    border-collapse: collapse;
}

td {
    height: 2em;
    width: 2em;
    text-align: center;
}